@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('fonts/ProximaNova-Regular.eot');
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/ProximaNova-Regular.woff') format('woff'),
		url('fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('fonts/ProximaNova-Semibold.eot');
	src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
		url('fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('fonts/ProximaNova-Semibold.woff') format('woff'),
		url('fonts/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}


body{
    font-family: "Proxima Nova Rg";
    font-size: 13pt;
}
.wrapper {
    width: 70%;
    margin: 0 auto;
    position: relative;
}
header {
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
}
header .logo {
    padding: 10px 40px;
    vertical-align: top;
}

header .headerInfo {
    display: inline-block;
    width: 77%;
    padding-top: 40px;
}
header h1 {
   color: #262626;
   font-size: 35px;
   font-weight: 400;
   letter-spacing: -1.4px;
   font-family: "Myriad Pro";
}
header form {
    display: inline;
    position: relative;
}
header input{
    height: 32px;
    width: 140px;
    /*165 -> 140*/
    box-shadow: inset 0 1px 1px rgba(1, 1, 1, 0.15);
    border: 1px solid #cccccc;
    background-color: #ffffff;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.paddrow {
    padding-top: 21px;
}
.padd {
    color:#4090db; 
    margin-top: 6px;
    border: 1px solid #4090db;
    border-radius: 5px;
    text-align: center;
}
.numer-color {
    font-weight: 700;
    letter-spacing: -0.34px;
}
.post {
    width: 74px;
    height: 16px;
    color: #3d4044;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.bt1, .bt2  {
    background-image:url(img/close-btn.png);
    background-size: none;
    background-repeat: no-repeat;
    background-position:center;
    width:32px;
    height:32px;
    box-shadow: none;
    border: 1px solid #cccccc;
    vertical-align: bottom;
    margin-left: -6px;
}
.bt2 {
    background-image:url(img/ic_date_range.png);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*////////////////Section//////////////////////*/
/*////////////////////////////////////////////*/

section {
    background-color: #fafafa;
    padding-top: 70px;
    padding-bottom: 75px;
}
.gtn {
    padding-bottom: 30px;
    position: relative;
    font-family: "Proxima Nova Lt";
}
.info{
    position: absolute;
    z-index: 9;
    bottom:50px;
    left: 40px;
    color: #ffffff;
    font-size: 17px;
    cursor: pointer;
}
.info td{
    width: 85px;
    height: 45px;
}
.info td:first-child {
    width: 100px;
}
.gtn .back{
    width:100%;
}
.gtn .video{
    position: absolute;
    right: 25px;
    top:10px;
    z-index: 99;
}
.gtn table, center {
    font-weight: normal;
    width: 100%;
}

.footer-btn {
    width: 124px;
    height: 28px;
    border-radius: 5px;
    background: none;
    text-align: center;
    margin: 0 auto;
}
.footer-btn button {
    background: none;
    width: 124px;
    vertical-align: bottom;
    height: 26px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 12px;
}

/*////////////////Media//////////////////////*/
/*////////////////////////////////////////////*/

@media (max-width: 1024px){
    header .logo{ text-align: center;
    padding: 10px;}
    header .headerInfo {
        width: 100%;
        text-align: center;
    }
    .info {left: 25px;}
    
    
}
@media (max-width: 720px){
    .post {
        width: 26%;
        margin: 10px;
        height: 45px;
    }
    .paddrow:nth-child(2){
        margin-left: 37px;
    }
}
